<h2>Which site would you like to search?</h2>

  <h3><a href="/stackcareers" class="href">Stack Overflow Careers</a></h3>
    <h4> -- Seniority Level Shown </h4>

  <h3><a href="/authenticjobs" class="href">Authentic Jobs</a></h3>

  <h3><a href="/weworkremotely" class="href">We Work Remotely</a></h3>
    <h4> -- 100% Remote Jobs </h4>

  <h3><a href="flexjobs" class="href">FlexJobs</a></h3>
    <h4> -- Entry-level focus </h4>
    <h4> -- Company name requires login on FlexJobs.com </h4>