@font-face {
  font-family: "MoonLight";
  src: url("../fonts/MoonLight.otf");
}

@font-face {
  font-family: "MoonBold";
  src: url("../fonts/MoonBold.otf");
}

body { 
  background-image:url('/img/squairy_light.png');
}

.navbar-default .navbar-brand {
  color:rgb(242,145,65);
}

h1 {
  color:rgb(242,145,65);
  font-family: "MoonBold";
}

nav {
  background-image:url('/img/squairy_light.png');
}

ul.job-list
{
    list-style-type: none;
}