<div class="container">
<div class="container-fluid"><h1>Remote Dev Jobs</h1></div>

<div class="col-sm-8"><h2>Your one-stop resource for finding and tracking remote developer jobs.</h2></div>

<div class="container col-sm-8">
<div class="col-sm-4"><h3>To get started, <a href="/signup">Sign Up</a> or <a href="/login">Log In</a></h3></div></div>
</div>